<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Data</title>
  </head>
  <body>
    <form method="post">
      <p>Enter Id</p>
      <input type="text" name="aid" value=""><br><br>
      <input type="submit" name="" value="Update Details">
    </form>
  </body>
</html>
