<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MegaMind</title>
  </head>
  <body>
    <b><p>Welcome to The Matrix!!</p></b>
    <a href="/signup">Red Pill</a>
    <% ar.forEach(function(item){ %>
      <b>Name</b><br>
      <p><%= item.name %></p>
      <b>Id</b>
      <p><%= item._id %></p>
      <hr>
  <%  }) %>
  </body>
</html>
