<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up Page</title>
  </head>
  <body>
    <b><p>Sign up to Comic Book Appreciation Site</p></b>
    <form method="post">
      <p>Name</p>
      <input type="text" name="nick_name" placeholder="Enter a name">
      <input type="submit" name="" value="Submit Application">
    </form>
  </body>
</html>
