<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Updation Page</title>
  </head>
  <body>
    <form method="post">
      <b>Enter Your Unique Id</b><br>
      <input type="text" name="uid" value=""><br>
      <b>Enter Your New Avatar</b><br>
      <input type="text" name="navatar" value=""><br>
      <input type="submit" name="" value="Submit Request">
    </form>
  </body>
</html>
